<!DOCTYPE HTML>
<html>
<head>

	<title> Moody Magnet </title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
	

</head>
<!-- BODY OF THE DOCUMENT -->

<body > 

	<div id= "container">

		<div id= "header"> 

			<div id="banner"
				<h1>  </h1> 
				 <img src= "/static/img/banner_moody.png"> 
			</div>

		</div> 

		<div id= "content"> 

			<form method="POST" role="form">
				<div class="form-group">
	 			<textarea id="input" name="text" type="text"></textarea>
				<button type="submit" id="button">I'm Done!</button>
			</form>

		</div>

	<!-- 	<button id="inspiration" onClick="counterfunction()" >Need Inspiration?</button> -->


		<img class="images" id="image1" style="visibility: hidden;" src="/static/img/inspiration1.png">
		<img class="images" id="image2" style="visibility: hidden;" src="/static/img/inspiration2.png">
			</div> 

	
	</div>
	<div id="footer" class="footerClass">
			<p>A project by <a href="http://www.itschristinith.com/">Christina Carter</a> and <a href="http://www.patriciazablah.com"> Patricia R. Zablah</a></p>
		</div>
</div> 
</body>


</html>