<!DOCTYPE HTML>
<html>
<head>

	<title> Sentiment Analysis </title>

	<link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">

	

</head>
<!-- BODY OF THE DOCUMENT -->

<body > 

	

			<div id="banner"
				<h1>  </h1> 
				 <img src= "/static/img/banner_moody.png"> 
			</div>

		


</form>
</div>

<!-- BODY OF THE DOCUMENT -->


<!-- 
	<br> <br> <br> <br> -->
	 <h4 id="label">Your poem was kind of {{sentiment}}</h4>

	<a href="/"> <button type="button" id="more">Write More Poetry!</button>
</form>
</div>

 <script type="text/javascript">
// var body = document.querySelector("body");
// var clicked = false;
// if(clicked)
// 	body.className = "bgRed";
// else
// 	body.className = "bgBlack";


  	</script>
</body>


</html>
</body>


</html>